.panel-content{
    padding-right:15px;
    padding-left:15px;
    padding-bottom: 15px;
    margin-right:auto;
    margin-left:auto
}

#sortable {  
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#sortable li {
    float: left;
    padding: 2px;
    margin: 3px;
    cursor: move;
}